// .selectCss{
//     width:160px;
//     margin-bottom: 12px;
// }
.bottom {
    width: 1680px;
    height: 800px;
    padding: 16px;
    background-color: #fff;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    margin-top: 16px;
    position: relative;

    .bottomTab {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;

        .radioBox {
            position: absolute;
            right: 0;
        }
    }
}

.cardItem {
    width: 538px;
    height: 152px;
    background-color: #fff;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 4px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(./images/bgi.png);
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;

    .cardImgBox {
        width: 112px;
        height: 112px;
        margin-left: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cardImg {
        width: 112px;
        height: 112px;
        // margin-left: 24px;
        // background-color: #237ae4;
    }

    .ItemValue {
        margin-left: 12px;
        margin-right: auto;
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;

        .valueTitle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            color: #000;
            font-weight: 700;
            text-align: left;
            width: 64%;
        }

        .valueData {
            //margin-top: 10px;
            font-size: 14px;
            color: #333;
            margin-bottom: 10px;
        }

        .btnStyle {
            display: grid;
            grid-template-columns: repeat(2, 200px);
            grid-template-rows: repeat(1, 35px);

            .btnBoxStyle {
                display: flex;
                flex-direction: row;
            }

            .timeStyle {
                width: 80px;
                height: 24px;
                font-size: 12px;
                background-color: #237ae4;
                color: #fff;
                text-align: center;
                line-height: 24px;
            }

            .timeValueStyle {
                width: 100px;
                height: 24px;
                background-color: #fff;
                color: #003366;
                border: 1px solid rgb(215, 215, 215);
                font-size: 14px;
                text-align: right;
                line-height: 24px;
                padding-right: 8px;
            }
        }
    }

    .boxCard {
        width: 200px;
        height: 112px;
        position: absolute;
        right: 5px;
        background-color: rgba(242, 242, 242, 0.75);
        border: 1px solid rgb(228, 228, 228);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 16px;

        p {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .state{
        position: absolute;
        top: 4px;
        right: -18px;
        transform: rotate(45deg);
        background-color: rgb(0, 153, 102);
        color: #fff;
        width: 65px;
        text-align: center;
        font-size: 14px;
    }
    .stateOff{
        position: absolute;
        top: 4px;
        right: -18px;
        transform: rotate(45deg);
        background-color: rgb(0102, 102, 102);
        color: #fff;
        width: 65px;
        text-align: center;
        font-size: 14px;
    }
}
.cardBox{
    display: grid;
    grid-template-columns: repeat(3,554px);
    grid-template-rows: repeat(4,170px);
}
.pageNum{
    position: absolute;
    right: 0;
    margin-right: 16px;
    bottom: 16px;
    :global(.ant-pagination-item-active){
        background-color: #237ae4;
        :global(a){
            color: #fff;
        }
    }
}
.tableHead{
    border: 1px solid rgb(204, 204, 204);
    border-right: none;
    border-bottom: none;
    :global(.ant-table-thead > tr > th ){
        background-color: rgb(236,245,255);
        height: 32px;
    }
    :global(.ant-table-thead > tr > th){
        padding: 0;
        height: 32px;
        border-right: 1px solid rgb(204, 204, 204);
        border-bottom: 1px solid rgb(204, 204, 204);
        padding-left: 8px;
    }
    :global(.ant-table-tbody > tr > td){
        padding: 0;
        height: 32px;
        border-bottom: 1px solid rgb(204, 204, 204);
        border-right: 1px solid rgb(204, 204, 204);
        padding-left: 8px;
    }
}
.btnBoxStyle{
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    .timeStyle {
        width: 80px;
        height: 24px;
        font-size: 12px;
        background-color: #237ae4;
        color: #fff;
        text-align: center;
        line-height: 24px;
    }

    .timeValueStyle {
        width: 300px;
        height: 24px;
        background-color: #fff;
        color: #003366;
        border: 1px solid rgb(215, 215, 215);
        font-size: 14px;
        text-align: right;
        line-height: 24px;
        padding-right: 8px;
    }
}