.progressBorder{
    width: 243px;
    height: 20px;
    background-color: rgba(247, 247, 247, 1);
    border: 1px solid rgba(215, 215, 215, 1);
    display: flex;
    align-items: center;
    position: relative;
    .progressBar{
        height: 16px;
        text-align: center;
        line-height: 16px;
        background-color: #237ae4;
        font-size: 12px;
    }
}