.title{
    display: flex;
    justify-items: center;
    .columns{
        width:4px;
        height: 32px;
        background-color:#237ae4;
        margin-right: 16px;
    }
    .name{
       line-height: 32px;
    }
}