.title{
    display: flex;
    justify-items: center;
    align-items: center;
    color: var(--card-head-color);
    background-color: var(--cardHeadBg);
    .columns{
        width:3px;
        height: 32px;
        background-color:var(--ant-primary-color);
        margin-right: 16px;
    }
    .red{
        width:3px;
        height: 32px;
        background-color: #FF4D4F;
        margin-right: 16px;
    }
    .name{
       line-height: 32px;
    }
}