.divmgr16{
    text-align: center;
    color: #fff;
    height:32px;
    line-height: 32px;
    border-radius: 2px;
    width:96px;
    background-color: #237ae4;
    margin-right:16px;
    cursor: pointer;
   
    &:hover{
        opacity: .7;
    }
}