.header{
    width: 1680px;
    height: 48px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    display: flex;
    align-items: center;
}
.line{
    width: 0;
    height: 33px;
    margin: 0 24px;
    border-left: 1px dashed #d7d7d7;
}
.cardList{
    margin-top: 10px;
    height: 264px;
    display: grid;
    grid-template-columns: repeat(4,425px);
    grid-template-rows: repeat(2,140px);
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // align-items: flex-end;
    .cardItem{
        width: 404px;
        height: 124px;
        background-color: #fff;
        border: 1px solid rgb(215, 215, 215);
        border-radius: 4px;
        margin-right: 16px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-image: url(./images/bgi.png);
        background-size: cover;
        position: relative;
        .cardImgBox{
            width: 64px;
            height: 64px;
            margin-left: 24px;
            background-color: #237ae4;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .cardImg{
            width: 40px;
            height: 40px;
            border: 2px solid #fff;
            // margin-left: 24px;
            // background-color: #237ae4;
             border-radius: 50%;
        }
        .ItemValue{
            margin-left: 12px;
            margin-right: auto;
            text-align: left;
            .valueTitle{
                font-size: 14px;
                color: #333;
            }
            .valueData{
                //margin-top: 10px;
                font-size: 28px;
                color: #515151;
            }
        }
        .boxCard{
            width: 200px;
            height: 112px;
            position: absolute;
            right: 5px;
            background-color: rgba(242, 242, 242, 0.75);
            border: 1px solid rgb(228,228,228);
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            padding: 16px;
            p{
                width: 100%;
                display: flex;
            align-items: center;
            justify-content: space-between;
            }
        }
    }
    .orderData{
        width: 400px;
        height: 96px;
        background-color: #fff;
        border: 1px solid rgb(215, 215, 215);
        border-radius: 4px;
        display: flex;
        align-items: center;
        .orderItem{
            width: 133px;
            height: 85px;
            border-right: 1px dashed #d7d7d7;
            display: flex;
            flex-direction: column;
            align-items: center;
            &:nth-child(3){
                border: none;
            }
            .itemTitle{
                font-size: 14px;
                color: #333;
            }
            .waitOrder, .duringOrder, .waitInspection{
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 48px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                font-size: 24px;
                color: #fff;
                margin-top: 10px;
            }
            .waitOrder{
                background: url('./images/waitOrder.png');
            }
            .duringOrder{
                background: url('./images/duringOrder.png');
            }
            .waitInspection{
                background: url('./images/waitInspection.png');
            }
        }
    }
}
.content{
    width: 1682px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    .contentLeft{
        margin-bottom: 16px;
        width: 548px;
        height: 513px;
        background-color: #fff;
        border: 1px solid rgb(215, 215, 215);
        border-radius: 4px;
        .pieTitle{
            margin: 16px;
            padding-left: 16px;
            height: 32px;
            line-height: 32px;
            border-left: 4px solid #237ae4;
            font-size: 14px;
            color: #303133;
        }
        .pieChart{
            width: 100%;
            height: 87%;
        }
        .tips{
            display: flex;
            align-items: center;
            margin-top: 24px;
            margin-left: 16px;
            .warn{
                width: 32px;
                height: 32px;
            }
            .tipDesc{
                margin-left: 24px;
                line-height: 20px;
                font-size: 14px;
                color: #303133;
            }
        }
    }
    .contentRight{
        margin-left: 16px;
        .chartItem{
            width: 1168px;
            height: 340px;
            padding: 16px;
            border: 1px solid #d7d7d7;
            border-radius: 4px;
            background-color: #fff;
            margin-bottom: 16px;
            display: flex;
            .linechart{
                width: 864px;
                height: 302px;
                position: relative;
            }
            .dataItem{
                width: 240px;
                margin-left: auto;
                margin-right: 0;
                height: 100%;
                bottom: 1px solid #d7d7d7;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #303133;
                .title{
                    margin-top: 12px;
                    font-size: 14px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    .subTitle{
                        font-size: 12px;
                    }
                }
                .itemData{
                    margin-top: 6px;
                   width: 240px;
                   height: 40px;
                   padding: 0 12px;
                   border-radius: 4px;
                   border: 1px solid rgb(215, 215, 215);
                   display: flex;
                   justify-content: space-between;
                   align-items: center;
                   color: #515151;
                   font-size: 18px;
                   .unit{
                    font-size: 14px;
                   }
                }
                .itemDesc{
                    margin-top: 6px;
                   width: 240px;
                   height: 40px;
                   padding: 0 12px;
                   border-radius: 4px;
                   border: 1px solid rgb(215, 215, 215);
                   display: flex;
                   align-items: center;
                   color: #515151;
                   .desc{
                    font-size: 14px;
                    margin-left: 12px;
                   }
                }
            }
        }
    }
}