.box {
  .content {
    position: relative;
    overflow: hidden;
    width: 1680px;
    height: 800px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    padding: 16px;

    .contentHead {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .contentTitle {
        height: 32px;
        padding-left: 16px;
        border-left: 4px solid #237ae4;
        line-height: 32px;
        color: #515151;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
      }
      .contentAdd {
        width: 96px;
        height: 32px;
        font-size: 14px;
      }
    }
    .editText {
      color: #237ae4;
      font-size: 14px;
      text-decoration: underline;
      cursor: pointer;
    }
    .deleteText {
      color: #f33;
      font-size: 14px;
      text-decoration: underline;
      cursor: pointer;
    }
    .addModal {
    //   :global {
    //     .ant-modal-footer {
    //       border: none;
    //       padding-right: 32px;
    //       padding-bottom: 32px;
    //     }
    //     .ant-modal-body {
    //       padding: 32px;
    //     }
    //   }
    //   .addHeader {
    //     height: 32px;
    //     border-left: 4px solid #237ae4;
    //     font-size: 16px;
    //     color: #237ae4;
    //     line-height: 32px;
    //     padding-left: 12px;
    //   }
    }
  }
}
