.setModal {
    :global(.ant-modal-header) {
        height: 50px;
        border-bottom: none;
    }

    :global(.ant-modal-body) {
        height: 370px;
    }

    :global(.ant-modal-footer) {
        line-height: 80px;
        border-top: none;
        padding: 10px 24px;
    }
}