@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1733128288257') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-_duanluqi:before {
  content: "\e632";
}

