.custDropdown {
    .ant-dropdown-menu {
       padding: 0px;
       width: 144px;
       .ant-dropdown-menu-item.ant-dropdown-menu-item-only-child {
        line-height: 40px;
        height: 40px;
        font-size: 14px;
        display: flex;
        align-items: center;
        transition: all 0.1s;
        padding: 0 16px 0 58px;
        background-repeat: no-repeat;
        background-size: 20px auto;
        background-position: 16px center;
      }
    
      .ant-dropdown-menu-item.ant-dropdown-menu-item-only-child:first-child {
        background-image: url('./icon/login.png');
        &:hover {
            background-color: #237ae4 !important;
            color: #ffffff;
            background-image: url('./icon/login_a.png');
           
          } 
      }
      .ant-dropdown-menu-item.ant-dropdown-menu-item-only-child:last-child {
        background-image: url('./icon/exit.png');
        &:hover {
            background-color: #237ae4 !important;
            background-image: url('./icon/exit_a.png');
            color: #ffffff;
          } 
      }
    }
}