.custDropdown {
    .ant-dropdown-menu {
       padding: 0px;
       width: 144px;
       .ant-dropdown-menu-item.ant-dropdown-menu-item-only-child {
      //  line-height: 40px;
        height: 40px;
        font-size: 14px;
        display: flex;
        align-items: center;
        transition: all 0.1s;
        padding: 0 16px;
        background-repeat: no-repeat;
        background-size: 20px auto;
        background-position: 16px center;
      }
    
   
    }
  
}
 