.header {
    width: 1680px;
    height: 48px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    display: flex;
    align-items: center;

    .line {
        width: 0;
        height: 33px;
        margin: 0 24px;
        border-left: 1px dashed #d7d7d7;
    }

    .border {
        margin-left: 16px;
        height: 32px;
        line-height: 32px;
        border-left: 4px solid var(--ant-primary-color);
        font-size: 14px;
        color: #000;
        padding-left: 16px;
        span.pot {
            color:var(--ant-primary-color);
            cursor: pointer;
        }
    }

    .breadcrumb {
        margin: 0 8px;
    }

    :global {
        .ant-form-item-label>label::after {
            display: none;
        }
    }
}

.cardTitle {
    border-left: 4px solid var(--ant-primary-color);
    padding-left: 16px;
    font-size: 14px;
    color: #515151;
    height: 32px;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    :global {
        .ant-pagination-simple-pager {
            color: #fff !important;

            input {
                color: #333 !important;
            }
        }

        .ant-pagination-item-link {
            width: 24px;
            height: 24px !important;
            background-color: #fff !important;
            color: #333
        }
    }
}

.bmsContent {
    margin-top: 16px;
    display: flex;

    .left {
        width: 480px;

        .leftCard {
            width: 480px;
            height: 256px;
            padding: 16px;
            margin-bottom: 16px;
            background-color: #fff;
            border-radius: 4px;
            border: 1px solid #d7d7d7;
            position: relative;

            .currTip {
                position: absolute;
                right: 8px;
                top: 8px;
                width: 240px;
                height: 36px;
                background-color: #ffdf25;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
                padding-left: 12px;
                color: #515151;
                font-size: 14px;
                line-height: 36px;
            }

            .cardChart {
                width: 448px;
                height: 176px;
            }
        }

        .storageState {
            width: 480px;
            height: 192px;
            background-color: #fff;
            border: 1px solid #d7d7d7;
            padding: 16px;
            border-radius: 4px;

            .itemList {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                .items {
                    width: 160px;
                    margin-top: 16px;
                    background-color: rgb(0, 0, 51);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .itemData {
                        width: 80px;
                        height: 48px;

                        .dataTitle {
                            height: 24px;
                            line-height: 24px;
                            color: #fff;
                            text-align: center;
                            font-size: 12px;
                        }

                        .dataValue {
                            height: 24px;
                            line-height: 24px;
                            color: #3f0;
                            font-size: 14px;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .line {
            width: 480px;
            height: 0;
            margin: 16px 0;
            border-top: 1px dashed #d7d7d7;
        }

        .betteryCard {
            width: 480px;
            height: 181px;
            margin-bottom: 16px;
            background-color: rgb(0, 0, 51);
            border: 1px solid #d7d7d7;
            border-radius: 4px;
            padding: 16px;

            .betteryTitle {
                border-left: 4px solid var(--ant-primary-color);
                padding-left: 16px;
                font-size: 14px;
                color: #fff;
                height: 32px;
                line-height: 32px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .warningCount {
                    display: inline-block;
                    margin-right: 0;
                    width: 24px;
                    height: 24px;
                    background-color: #f03;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 24px;
                }
            }

            .betteryData {
                margin-top: 16px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .dataItem {
                width: 96px;
                height: 48px;

                .itemName {
                    // width: 96px;
                    height: 24px;
                    line-height: 24px;
                    color: #e4e4e4;
                    font-size: 14px;
                }

                .itemData {
                    // width: 96px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    color: #515151;
                    font-size: 14px;
                    background-color: #fff;
                    border: 1px solid #d7d7d7;
                }
            }
        }
    }

    .middle {
        margin: 0 16px;
        width: 880px;
        height: 800px;
        background-color: rgb(0, 0, 51);
        border-radius: 4px;
        position: relative;

        .zhanwei {
            width: 880px;
            height: 800px;
        }

        .middletitle {
            position: absolute;
            left: 16px;
            top: 16px;
            height: 32px;
            border-left: 4px solid var(--ant-primary-color);
            line-height: 32px;
            background-color: #003;
            color: #fff;
            font-size: 14px;
            padding-left: 16px;
        }

        .clickDiv {
            width: 194px;
            height: 363px;
            position: absolute;
            left: 43px;
            bottom: 40px;
            cursor: pointer;
        }
    }

    .right {
        .topCard {
            width: 288px;
            height: 464px;
            background-color: #fff;
            border: 1px solid #d7d7d7;
            border-radius: 4px;
            padding: 16px;

            .warningMessage {
                display: flex;
                justify-content: space-between;
                margin-top: 16px;

                .item {
                    width: 120px;
                    height: 64px;
                    border: 1px solid #d7d7d7;
                    text-align: center;
                    color: #000;

                    .itemTitle {
                        width: 116px;
                        height: 24px;
                        margin: 1px;
                        background-color: rgb(228, 228, 228);
                        line-height: 24px;
                        font-size: 14px;
                    }

                    .itemCount {
                        font-size: 18px;
                        height: 36px;
                        line-height: 36px;
                    }
                }
            }

        }

        .environment {
            width: 288px;
            height: 369px;
            border: 1px solid #d7d7d7;
            background-color: #fff;
            border-radius: 4px;
            padding: 16px;

            .item {
                width: 256px;
                border: 1px solid #d7d7d7;
                margin-top: 16px;

                .itemName {
                    // width: 252px;
                    height: 24px;
                    background-color: #3333cc;
                    font-size: 12px;
                    line-height: 24px;
                    // margin: 1px;
                    text-align: center;
                    color: #fff;
                }

                .itemData {
                    font-size: 14px;
                    color: #000;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                }

                .temData {
                    padding-top: 6px;
                    display: flex;
                    align-items: center;

                    .tem {
                        // height: 61px;
                        width: 127px;
                        font-size: 12px;
                        color: #515151;
                        padding-left: 24px;
                    }
                }
            }
        }

        .stateItems {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 16px;

            .stateCard {
                height: 56px;
                margin-bottom: 16px;
                border: 1px solid rgb(215, 215, 215);
            }

            .stateTitle {
                height: 24px;
                margin: 2px;
                background-color: rgb(228, 228, 228);
                text-align: center;
                line-height: 24px;
                font-size: 14px;
                color: #000;
            }

            .stateValue {
                text-align: center;
                height: 24px;
                line-height: 24px;
                color: #000;
                font-size: 18px;
            }
        }
    }
}

.newWarning {
    width: 288px;
    min-height: 240px;
    margin-top: 16px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    padding: 16px;
    position: relative;

    .toWarning {
        position: absolute;
        right: 16px;
        top: 18px;
        color: var(--ant-primary-color);
        text-decoration: underline;
        cursor: pointer;
        font-size: 14px;
    }

    .dashed {
        // width: 100%;
        height: 0;
        border-top: 1px dashed #d7d7d7;
    }

    .warningDetails {
        height: 207px;
        overflow-y: auto;

        .warningItem {
            display: flex;
            align-items: flex-start;
            margin-top: 16px;

            .leftImg {
                margin-top: 4px;
                margin-right: 16px;
                border: 1px solid #f00;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                .warningPoint {
                    width: 10px;
                    height: 10px;
                    margin: 2px;
                }
            }

            .warningData {
                width: 300px;
                padding-right: 4px;

                .warningtop {
                    font-size: 14px;
                    color: #1e1e1e;
                    height: 20px;
                    line-height: 20px;
                    display: flex;
                    justify-content: space-between;

                    .description {
                        margin-left: 16px;
                    }
                }

                .warningbottom {
                    // margin-top: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #6b6b6b;
                    font-size: 12px;
                }
            }
        }
    }
}

.batteryContent {
    margin: 16px 0;
    display: flex;

    .singleMonitor {
        width: 1376px;
        height: 800px;
        background-color: #003;
        border-radius: 4px;
        border: 1px solid #d7d7d7;
        // padding: 16px;
        font-size: 14px;

        .batteryName {
            margin-top: 36px;
            color: #fff;
            text-align: center;
            line-height: 24px;
            margin-bottom: 12px;
        }

        .verticalLine {
            height: 40px;
            width: 0;
            margin-left: 50%;
            border-left: 3px solid #41a4b9;
        }

        .normalLine {
            height: 0px;
            width: 1208px;
            margin-left: 82px;
            border-top: 4px solid #41a4b9;
        }

        .transformList {
            margin-left: 82px;
            width: 1208px;
            height: 504px;
            overflow: hidden;
            position: relative;

            .transformItem {
                display: flex;
                height: 504px;
                transition: all 1s;
                position: absolute;
                left: 0;
                top: 0;
            }

        }

        .monitorList {
            display: flex;
            align-items: center;
            height: 703px;
            overflow-y: auto;
            margin-left: 36px;
            // justify-content: space-between;
            flex-wrap: wrap;
            width: 1120px;

            .monitorItem {
                // margin-top: 32px;
                margin-right: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .monitorHeader {
                    width: 24px;
                    height: 6px;
                    // background-color: #fff;
                    border: 1px solid #d7d7d7;
                }

                .pack {
                    width: 85px;
                    height: 146px;
                    background-color: #fff;
                    border: 1px solid #d7d7d7;
                    margin-top: -1px;

                    .packName {
                        width: 81px;
                        height: 24px;
                        background-color: #e4e4e4;
                        border: 1px solid #000;
                        color: #000;
                        font-size: 12px;
                        line-height: 24px;
                        text-align: center;
                        margin: 1px;
                        margin-bottom: 0;
                    }

                    .packData {
                        width: 81px;
                        margin-left: 1px;
                        border: 1px solid #000;
                    }

                    .packItem {
                        width: 81px;
                        height: 58px;
                        padding: 2px 0;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        background-color: #039;
                        color: #fff;
                        font-size: 16px;

                        span {
                            display: inline-block;
                            height: 18px;
                            line-height: 18px;
                            text-align: center;
                        }
                    }
                }
            }
        }

        :global {
            .ant-btn {
                background-color: #f5f7fa;
                color: #515151;
                width: 76px;
                border-color: #d7d7d7;
            }
        }
    }

    .singleWarning {
        width: 302px;
        height: 800px;
        // background-color: #000;
        // border: 1px solid #d7d7d7;
        margin-left: 16px;

        // padding: 16px;
        .warningButton {
            margin-top: 16px;
            width: 270px;
            height: 32px;
            line-height: 32px;
            background-color: #f60;
            color: #fff;
            font-size: 14px;
            text-align: center;
        }

        .line {
            width: 100%;
            height: 0;
            margin: 16px 0;
            border-top: 1px dashed #555;
        }

        .errorTabs {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            .errorTab {
                width: 128px;
                height: 30px;
                background-color: #212121;
                text-align: center;
                line-height: 30px;
                color: #ccc;
                font-size: 14px;
                margin-bottom: 16px;
            }
        }
    }

    .warningDetails {
        // margin-top: 16px;
        // height: 450px;
        overflow-y: auto;

        .warningItem {
            display: flex;
            align-items: flex-start;

            .leftImg {
                margin-top: 4px;
                margin-right: 16px;
                border: 1px solid #f00;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                .warningPoint {
                    width: 10px;
                    height: 10px;
                    margin: 3px;
                }
            }

            .warningData {
                width: 300px;

                .warningtop {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 14px;
                    color: #1e1e1e;
                    height: 20px;
                    line-height: 20px;

                    .description {
                        margin-left: 16px;
                    }
                }

                .warningbottom {
                    margin-top: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #6b6b6b;
                    font-size: 14px;
                }
            }
        }
    }
}

.customBattery {
    .batteryTop {
        margin-left: 11px;
        width: 26px;
        height: 8px;
        background-color: #003;
        border: 1px solid rgb(107, 107, 107);
        border-radius: 2px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .batteryBody {
        width: 48px;
        height: 128px;
        background-color: #003;
        border: 1px solid rgb(107, 107, 107);
        border-radius: 2px;
        margin-top: -1px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        font-size: 12px;
        position: relative;

        span {
            z-index: 1;
        }

        .progress {
            position: absolute;
            left: 1px;
            bottom: 1px;
            width: 44px;
            z-index: 0;
            max-height: 124px;
        }
    }
}

.deviceImg {
    position: absolute;
    width: 100%;
    min-height: 160px;
    left: 0px;
    top: 67px;
    background-color: #003;
    display: flex;
    flex-direction: column;
    align-items: center;

    .deviceName {
        padding: 0 12px;
        background-color: var(--ant-primary-color);
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        color: #fff;
    }
    .deviceData{
        margin-top: 6px;
        width: 155px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .leftUp{
            margin-left: 24px;
            width: 24px;
            height: 10px;
            border: 1px solid rgb(65, 164, 185);
            border-radius: 2px 2px 0 0;
            border-bottom: none;
        }
        .rightUp{
            margin-left: 58px;
            width: 24px;
            height: 10px;
            border: 1px solid rgb(65, 164, 185);
            border-radius: 2px 2px 0 0;
            border-bottom: none;
        }
        .bottomItem{
            width: 154px;
            height: 145px;
            border: 1px solid rgb(65, 164, 185);
            border-radius: 4px;
            padding: 12px 8px;
            .stackStatus{
                width: 138px;
                height: 24px;
                background-color: rgb(0, 5, 153);
                color: #3f0;
                text-align: center;
                line-height: 24px;
                font-size: 14px;
                margin-bottom: 8px;
            }
        }
    }
}

.bmsData {
    position: absolute;
    width: 286px;
    height: 192px;
    background-color: #003;
    border-radius: 2px;
    left: 572px;
    top: 72px;
    font-size: 14px;
    color: #fff;
    padding: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .bmsStatus {
        width: 98px;
        height: 28px;
        line-height: 28px;
        background-color: #039;
        color: #3f0;
        margin-bottom: 8px;
    }

    .bmsTitle {
        width: 273px;

        span {
            display: inline-block;
            width: 136px;
            height: 30px;
            line-height: 30px;
            background-color: var(--ant-primary-color);

            &:nth-child(1) {
                margin-right: 1px;
            }
        }
    }
}

.batteryPack {
    width: 805px;
    height: 520px;
    position: absolute;
    left: 39px;
    top: 278px;
    background-color: #003;
    // padding-left: 24px;
    overflow: hidden;

    .transLate {
        display: flex;
        transition: all 1s;
        position: absolute;
        left: 55px;
        top: 0;
    }


}

.leftButton {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 2px;
    bottom: 171px;
    z-index: 1;
    line-height: 48px;
    text-align: center;
    font-size: 48px;
    color: #3c3c62;
    cursor: pointer;

    &:hover {
        color: #f2f2f2;
    }
}

.rightButton {
    position: absolute;
    width: 48px;
    height: 48px;
    right: 2px;
    bottom: 171px;
    z-index: 1;
    line-height: 48px;
    text-align: center;
    font-size: 48px;
    color: #3c3c62;
    cursor: pointer;

    &:hover {
        color: #f2f2f2;
    }
}


.main_box {
    margin-top: 16px;
    width: 1680px;
    height: 800px;
  //  background-color: #003;
    border-radius: 4px;
    padding: 16px;

    :global {
        .headerTitle {
            height: 32px;
            line-height: 32px;
            padding-left: 16px;
            font-size: 14px;
            color: #fff;
            border-left: 4px solid var(--ant-primary-color);
        }

        .containerList {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-left: 16px;
            margin-top: 16px;
            width: 1616px;

            .containerItem {
                width: 148px;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                opacity: 0.5;

                .itemName {
                    display: inline-block;
                    padding: 0 6px;
                    height: 20px;
                    line-height: 20px;
                    color: #fff;
                    font-size: 12px;
                    background-color: var(--ant-primary-color);
                }

                .itemImg {
                    width: 148px;
                    height: 148px;
                }

                .shortLine {
                    width: 50px;
                    height: 6px;
                    margin-top: 25px;
                    transform: rotate(-90deg);
                }
            }

            .activeItem {
                opacity: 1;
            }
        }

        .largeLine {
            width: 1616px;
            margin-left: 16px;
            margin-top: 16px;
            height: 0;
            border-top: 3px solid #41a4b9;
        }
    }
}

.batterStack {
    width: 1616px;
    height: 520px;
    margin-left: 16px;
    overflow: hidden;
    position: relative;

        .transLate {
            display: flex;
            transition: all 1s ease;
            position: absolute;
            left: 118px;
            top: 0;
    
        }
}