/* :root {
    --print-margin: 1cm
}
@media all {
    .page-break {
      display: none;
    }
  }
 
  @media print {
    @page {
      margin: 3.7cm 2.6cm 3.5cm 2.6cm;
       size: "auto";
     }
    html, body {
      height: initial !important;
      overflow: initial !important;
      -webkit-print-color-adjust: exact;
       
    }
    body { break-inside: avoid; break-after: auto; }
   .printContet {
     flex:1;
     display: flex;
     flex-direction: column;
     justify-content: center;
    align-items: center;
   }
 

   
 
    .pagebreak {
       display: block;
       break-before: always;  
      
    }
  }
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-after: page !important;
    break-after: page !important;
  } */

  @media print {
    html, body {
      height: initial !important;
      overflow: initial !important;
      -webkit-print-color-adjust: exact;
    }
  }
  @page {
    size: auto;
    margin: 20mm;
  }