.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    :global {
        .ant-input-search-button {
            width: 80px;
            background-color: rgba(245, 247, 250, 1);
            color: #515151;
            border-color: #d7d7d7;
        }
    }
}

.contents {
    :global {
        th {
            background-color: #ecf5ff !important;
        }
    }
}

.addModal {
    :global {
        .ant-modal-footer {
            border: none;
            padding-right: 32px;
            padding-bottom: 32px;
        }

        .ant-modal-body {
            padding: 32px;
        }

        .ant-btn {
            width: 96px;
            margin-left: 32px;
        }
    }

    .addHeader {
        height: 32px;
        border-left: 4px solid #237ae4;
        font-size: 16px;
        color: #237ae4;
        line-height: 32px;
        padding-left: 12px;
    }

    .addBody {
        margin-top: 16px;
        // margin-left: 32px;
    }
}