.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    :global{
        .ant-input-search-button{
            width: 80px;
            background-color: rgba(245, 247, 250, 1);
            color: #515151;
            border-color: #d7d7d7;
        }
    }
}