
@import '~antd/dist/antd.less';
// Primary

@primary-color: #237AE4; // 全局主色, 应用在按钮、info等

// success
@success-color: #52c41a; // 成功色

// Warning
@warning-color: #faad14; // 警告色

// Error

@error-color: #f5222d; // 错误色

// body的背景色
@body-background: #fff;
// 大部分组件的背景色
@component-background: #fff;


@link-color: #237AE4; // 链接色
 


@font-size-base: 14px; // 主字号
// @heading-color: #237AE4; // 标题色 会影响表单的label文字影响
@text-color: rgba(0, 0, 0, 0.80); // 主文本色
@text-color-secondary: rgba(0, 0, 0, 0.65); // 次文本色
@disabled-color: rgba(0, 0, 0, 0.35); // 失效色
@border-radius-base: 4px; // 组件/浮层圆角
@border-color-base: #D7D7D7; // 边框色
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12); // 水平，垂直，模糊， 阴影大小，颜色

// Table

@table-header-bg: #f4f8ff;
@table-header-color: #515151;
@table-border-color: #d7d7d7;
// Border color

// @border-color-split: #d7d7d7;