.headerTitle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 4px solid #237ae4;
    padding-left: 16px;
    font-size: 16px;
    color: #515151;
}
.mainContent{
    width: 1648px;
    height: 668px;
    border: 1px solid #ccc;
    margin-top: 16px;
}
.classifyTree{
    width: 600px;
    height:618px;
    padding: 32px 16px;
    overflow-y: auto;
}

.addModal{
    :global{
        .ant-modal-footer{
            border: none;
            padding-right: 32px;
            padding-bottom: 32px;
        }
        .ant-modal-body{
            padding: 32px;
        }
    }
    .addHeader{
        height: 32px;
        border-left: 4px solid #237ae4;
        font-size: 16px;
        color: #237ae4;
        line-height: 32px;
        padding-left: 12px;
    }
    .addBody{
        margin-top: 16px;
        // margin-left: 32px;
    }
}