.headerTitle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 4px solid #237ae4;
    padding-left: 16px;
    font-size: 16px;
    color: #515151;
}
.mainContent{
    
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
   
}
.classifyTree{
    width: 700px;
    height:618px;
    padding: 32px 16px;
    overflow-y: auto;
}

.addModal{
    :global{
        .ant-modal-footer{
            border: none;
            padding-right: 32px;
            padding-bottom: 32px;
        }
        .ant-modal-body{
            padding: 32px;
        }
        .ant-btn{
            width: 96px;
            margin-left: 32px;
        }
    }
    .addHeader{
        height: 32px;
        border-left: 4px solid #237ae4;
        font-size: 16px;
        color: #237ae4;
        line-height: 32px;
        padding-left: 12px;
    }
    .addBody{
        margin-top: 16px;
        // margin-left: 32px;
    }
}

.transferPage{
    position: absolute;
    top: 64px;
    left: 1680px;
    z-index: 1001;
    
}
.startAnimation{
    animation: change 0.5s;
    // left: 0!important;
    animation-fill-mode: both;
    
}
@keyframes change{
    from {
        left: 1680px;
    }
    to {
        left: -30px;
    }
}
.endAnimation{
    animation: changeTo 0.5s;
    // left: 0!important;
    animation-fill-mode: both;
    
}
@keyframes changeTo{
    from {
        left: -30px;
    }
    to {
        left: 1680px;
    }
}

.mask{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    z-index: 1000;
}