.content{
    width: 1680px;
    height: 824px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-top: none;
    padding: 16px;
}
.contentHeader{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
:global{
    .dialogModal{
        // width: 440px!important;
        .ant-modal-body{
            // width: 440px;
            padding: 32px;
        }
        .input{
            width: 288px;
        }
        .ant-form-item{
            margin-bottom: 12px;
        }
        .ant-btn{
            border-radius: 4px;
            height: 36px;
            width: 96px;
        }
        label{
            width: 90px;
        } 
    }
}
.modalTitle{
    height: 32px;
    line-height: 32px;
    padding-left: 16px;
    border-left: 4px solid #237ae4;
    font-size: 16px;
    color: #237ae4;
    margin-bottom: 32px;
}