.custsider {
  .custmenu {
    .ant-menu-item {
      padding-left: 32px;

    }

    .ant-menu-item.ant-menu-item-selected {
      background-color: #3333cc;

      .ant-menu-title-content {
        color: #33FF00;
      }
    }

    .ant-menu-title-content {
      color: #fff;
      display: inline-block;
      position: relative;
      padding-left: 32px;


    }

    .ant-menu-title-content::before {
      position: absolute;
      left: 0;

     
    }
  }
}