.header {
  width: 1680px;
  height: 48px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  display: flex;
  align-items: center;
}
.line {
  width: 0;
  height: 33px;
  margin: 0 24px;
  border-left: 1px dashed #d7d7d7;
}

.content {
  margin-top: 12px;
  display: flex;
  font-size: 14px;
  color: #515151;
  .title {
    display: inline-block;
    margin: 16px;
    height: 32px;
    line-height: 32px;
    border-left: 4px solid #237ae4;
    padding-left: 12px;
  }
  .contentLeft {
    background-color: #fff;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 4px;
    width: 300px;
    height: 800px;
    .radioCss {
      margin: 24px 12px;
      display: flex;
      justify-content: space-between;
      :global {
        .ant-radio-wrapper {
          font-size: 16px;
          color: #515151;
        }
      }
    }
    .radioLine {
      margin: 0 16px;
      width: 265px;
      height: 2px;
    }
  }
  .contentMiddle {
    background-color: #fff;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 4px;
    width: 952px;
    height: 800px;
    margin-left: 16px;
  }
  .contentMiddleBig {
    background-color: #fff;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 4px;
    width: 1368px;
    height: 800px;
    margin-left: 12px;
  }
  .contentRight {
    margin-left: 12px;
    .rightTop {
      width: 400px;
      height: 400px;
      background-color: #fff;
      border: 1px solid rgb(215, 215, 215);
      border-radius: 4px;
    }
    .rightBottom {
      width: 400px;
      height: 388px;
      margin-top: 12px;
      background-color: #fff;
      border: 1px solid rgb(215, 215, 215);
      border-radius: 4px;
      .items {
        font-size: 12px;
        color: #515151;
        width: 365px;
        height: 48px;
        margin: 12px;
        border: 1px solid rgb(215, 215, 215);
        display: flex;
        align-items: center;
        padding-left: 3px;
        .itemIcon {
          width: 54px;
          height: 42px;
          background-color: #135abd;
          .itemImg {
            width: 26px;
            height: 26px;
            margin: 8px 14px;
          }
        }
        .itemImgBg {
          width: 54px;
          height: 42px;
          background-color: #237ae4;
          display: flex;
          align-items: center;
          justify-content: center;
          .lightingImg {
            width: 30px;
            height: 32px;
          }
          .airConditionImg {
            width: 29px;
            height: 32px;
          }
          .powerImg {
            width: 30px;
            height: 24px;
          }
          .sepcialImg {
            width: 30px;
            height: 30px;
          }
        }
        .itemData {
          margin-left: 24px;
          width: 160px;
          height: 42px;
          span {
            display: block;
            font-size: 12px;
            color: #666;
          }
          .dataStyle {
            font-size: 18px;
            color: #333;
          }
        }
        .upOrDown {
          width: 14px;
          height: 19px;
        }
        .percentUp {
          display: inline-block;
          width: 78px;
          padding-right: 12px;
          font-size: 18px;
          color: #f33;
          text-align: right;
        }
        .percentDown {
          display: inline-block;
          width: 78px;
          padding-right: 12px;
          font-size: 18px;
          color: #003399;
          text-align: right;
        }
      }
    }
  }
}
.barMinWidth {
  width: 900px;
}
.barMaxWidth {
  width: 1200px;
// width: 100%;
}
