
.searchbtn{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px dotted #d7d7d7;
    .line{
        border-left: 1px dotted #d7d7d7;
        margin: 0 32px ;
    }
    .btnclass{
        width: 96px; 
        
    }
   
}
.imgclass{
    margin:  0 30px 0 80px;
}
.readout{
    :global(.ant-modal-header){
        border-bottom: none;
    }
    :global(.ant-modal-footer){
        border-top: none;
}
}

   
