.setModal {
    :global(.ant-modal-header) {
        height: 50px;
        border-bottom: none;
    }

    :global(.ant-modal-content) {
        height: 740px;
    }

    :global(.ant-modal-body) {
        height: 600px;
    }

    :global(.ant-modal-footer) {
        line-height: 80px;
    }
}