.container{
    display: grid;
    grid-template-columns: 384px 678px;
    grid-template-rows: 864px;
    column-gap:32px ;
    .leftcss{
       background-color: #fff;
       border: 1px solid #ccc;
       border-radius: 2px;
       padding: 32px;
       .active{
        background-color: #237ae4;
        color: #fff;
        }
        .btnscsss{
            width: 192px;
            height: 36px;
            background-color: #237ae4;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 16px;
            border-radius: 2px;
        }   
    }
    .rightcss{
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        border-radius: 2px;
    }
}