.container{
    display: grid;
    grid-template-columns: 384px 678px;
    grid-template-rows: 864px;
    column-gap:32px ;
    .leftcss{
       background-color: #fff;
       border: 1px solid #ccc;
       border-radius: 2px;
       padding: 32px;
    }
    .rightcss{
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        border-radius: 2px;
    }
}