 
.mainContent {
   // background-color: #003;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    .title {
        margin-top: 34px;
        width: 328px;
        height: 40px;
        background-color: var(--ant-primary-color);
        text-align: center;
        line-height: 40px;
        color: #fff;
        font-size: 16px;
    }

    .yaxis {
        width: 0;
        height: 32px;
        border-left: 2px solid #069;
    }

    .xaxis {
        width: 1517px;
        height: 0;
        border-top: 2px solid #069;
    }

    .dataList {
        width: 1517px;
        height: 680px;
        padding-left: 65px;
        overflow: hidden;
        position: relative;

        .transLate {
            display: flex;
            // width: 200%;
            transition: all 1s;
            position: absolute;
            left: 65px;
            top: 0;
        }
    }
}
.lineChart{
    width: 1616px;
    height: 486px;
}