
.mainContent {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 20px 0;
    background: #1C2C43;

    .title {
        // margin-bottom: 24px;
        padding: 8px 24px;
        background: #1E50E6;
        border-radius: 4px;
        text-align: center;
        color: #fff;
        font-size: 16px;
    }

    // 卡片列表容器
    .cardList {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        overflow: hidden;

        .cardContainer {
            display: flex;
            flex-wrap: nowrap;
        }
    }
}

.lineChart {
    width: 1616px;
    height: 486px;
}
