@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1752192578132') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinchoutishiduanluqi--he:before {
  content: "\e603";
}

.icon-xinchoutishiduanluqi--fen:before {
  content: "\e604";
}

