.transferContent {
    width: 1680px;
    height: 760px;
    background-color: #003366;
    padding: 32px;
    display: flex;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(200px, -50%);

}

.transferContentNoMask {
    height: 760px;
    display: flex;
    // box-shadow: 0px 0px 9px rgb(240 240 237);
}

.publicTitle {
    height: 32px;
    padding-left: 16px;
    margin-bottom: 16px;
    line-height: 32px;
    font-size: 14px;
    color: #333;
    border-left: 4px solid var(--ant-primary-color);
}

.mainTable {
    width: 692px;
    height: 272px;
    padding: 16px;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 32px;
}

.subTable {
    width: 692px;
    height: 378px;
    padding: 16px;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 32px;
}

.otherSubTable {
    width: 692px;
    height: 696px;
    padding: 16px;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 32px;
}

.searchInput {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.actions {
    margin: 0 32px;

    .firstButton {
        margin-top: 64px;
        display: flex;
        justify-content: space-between;
    }

    .secondButton {
        margin-top: 182px;
        display: flex;
        justify-content: space-between;
    }

    .leftButton {
        display: inline-block;
        width: 68px;
        height: 46px;
        background-color: var(--ant-primary-color);
        border-radius: 4px;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        line-height: 46px;
        text-align: center;

        &:hover {
            background-color: rgba(64, 158, 255, 1);
        }
    }

    .rightButton {
        display: inline-block;
        width: 68px;
        height: 46px;
        margin-left: 10px;
        background-color: var(--ant-primary-color);
        border-radius: 4px;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        line-height: 46px;
        text-align: center;

        &:hover {
            background-color: rgba(64, 158, 255, 1);
        }
    }

    .finalButton {
        margin-top: 180px;

        .saveButton {
            width: 146px;
            height: 40px;
            background-color: var(--ant-primary-color);
            border-radius: 4px;
            cursor: pointer;
            color: #fff;
            font-size: 14px;
            line-height: 40px;
            text-align: center;

            &:hover {
                background-color: rgba(64, 158, 255, 1);
            }
        }

        .closeButton {
            margin-top: 16px;
            width: 146px;
            height: 40px;
            background-color: #fff;
            border-radius: 4px;
            cursor: pointer;
            color: #212121;
            font-size: 14px;
            line-height: 40px;
            text-align: center;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.rightTable {
    width: 714px;
    height: 696px;
    border-radius: 2px;
    padding: 16px;
    background-color: #fff;
}