.header{
    width: 1680px;
    height: 48px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    display: flex;
    align-items: center;
    position: relative;
    line-height: 48px;
    .headerTitle{
        margin: 0 16px;
        font-size: 14px;
        color: #515151;
    }
}
.mainContent{
    flex: 1;
    display: flex;
    column-gap: 16px;
    .rightContent{
        flex: auto;
        background-color: #fff;
        border: 1px solid #d7d7d7;
        border-radius: 4px; 
        padding: 16px;
         
    }
}