.container{
    .header{
       height: 48px;
       line-height: 48px;
       background-color: #fff;
       border: 1px solid #cccccc;
       padding: 0 16px;
    }
    .content{
        .contentTable{
            height: 740px;
            border: 1px solid #cccccc;
            margin-top: -1px;
            background-color: #fff;
            padding: 16px;
        }
    }
}
.line{
    width: 1px; 
    background-color: #ccc;
     height: 40px ;
     margin-left: 16px;
     margin-right: 32px;
}
.selects{
    width:160px !important;
}
.dash{
    width: 100%;
    margin: 16px 0;
  
}
.btns{
    display: flex;
    .btn{
        width: 96px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        color: #237ae4;
        border:1px solid #237ae4;
        margin-right: 16px;
        cursor: pointer;
        &:hover{
            background-color: #237ae4;
            color: #fff;
        }
    }
}