.headform{
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    .formstyle{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px;
        .mgbt0{
            margin-bottom: 0px;
        }
        .checkBox{
            width: 192px;
            height: 32px;
            border: 1px solid #d7d7d7;
            border-radius: 16px;
            display: flex;
            overflow: hidden;
            .box{
                flex: 1;
                height: 100%;
                color: #666;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            .boxactive{
                background-color: #237ae4;
                color: #fff;
            }
        }
        .divflex{
            display: flex;
            align-items: center;  
            
        }
    }
}
.content{
    // height: calc(100vh - 50px);
   padding: 16px 0 0 0;
}
.gridstyle{
    display: grid;
    grid-template-columns:repeat(4,304px) 1fr;
    grid-template-rows: 800px;
    grid-row-gap: 16px;
    grid-column-gap: 16px;   
    .bdcolor{
        border: 1px solid #d7d7d7;
        border-radius: 4px;
        padding-top: 1px;
        background-color: #fff;
        .bgclass{
            width: 300px;
            height: 220px;
            margin: 0 auto;
            padding: 16px;
            background-image: url("./imgs/bg1.png");
        }
        .bg1class{
            background-image: url("./imgs/bg2.png");
        }
        .bg2class{
            background-image: url("./imgs/bg3.png");
        }
        .bg3class{
            background-image: url("./imgs/bg4.png");
        }
        .textstyle{
            height: 104px;
            width: 300px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2,minmax(0px, 250px));
            grid-template-rows: repeat(2,30px);
            column-gap: 10px;
            padding: 0 10px;
            align-content: center;
            align-items: center;
            padding-left: 16px;
           
            .pdlf16{
                padding-left: 16px;
                padding-right: 2px;
            }
        }
    }
    .piestyle{
        height: 448px;
        width: 408px;
        border: 1px solid #d7d7d7;
        border-radius: 4px;
        background-color: #fff;
        padding: 14px;
    }
    .sorts{
        height: 335px;
        width: 100%;
        border: 1px solid #d7d7d7;
        border-radius: 4px;
        background-color: #fff;
        padding:16px
    }
}