.main {
    // width: 1680px;
    height: 824px;
    // border: 1px solid #d7d7d7;
    // border-top: none;
    // padding: 16px;
    background-color: #fff;

    .header {
        padding-bottom: 16px;
        border-bottom: 1px dashed #d7d7d7;
        font-size: 14px;
        color: #fff;
        display: flex;

        .addButton {
            width: 96px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            border-radius: 2px;
            background-color: rgb(26, 179, 148);
            margin-right: 16px;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }

        .batchImport {
            width: 96px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            border-radius: 2px;
            background-color: #2888e8;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .content {
        margin-top: 16px;
        display: flex;

        .treeList {
            width: 658px;
            height: 724px;
            border: 1px solid rgb(204, 204, 204);
            border-radius: 4px;
            padding: 24px 0;
            overflow-y: auto;

            :global {
                .ant-tree .ant-tree-treenode {
                    width: 656px;
                    position: relative;
                }

                .ant-tree .ant-tree-node-content-wrapper {
                    position: static;
                }
            }

            .treeNode {
                .operation {
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    span {
                        font-size: 14px;
                        text-decoration: underline;
                        color: #409eff;
                        margin-right: 24px;
                        cursor: pointer;
                    }

                    .deletebutton {
                        color: #f00;
                    }
                }
            }
        }

        .transferList{
            margin-left: 32px;
            position: relative;
            :global{
                .ant-transfer-list{
                    width: 360px;
                    background-color: #f2f2f2;
                    height: 600px;
                }
                .ant-transfer-list-body{
                    overflow-y: auto;
                }
                .ant-transfer-operation{
                    flex-direction: row;
                    margin-top: -100px;
                    .ant-btn{
                        width: 68px;
                        height: 46px;
                        background-color: rgb(160, 207, 255);
                        border: none;
                        color: #fff;
                        margin: 0 6px;
                        &:hover{
                            background-color: rgb(64, 158, 255);
                        }
                    }
                }
            }
            .transferSave{
                position: absolute;
                left: 375px;
                top: 286px;
                display: flex;
                flex-direction: column;
            }
        }
    }
    
}
:global{
    .addmodal{
        .ant-modal-content{
            width: 480px;
        }
        .ant-modal-body{
            padding: 32px;
        }
        .ant-btn{
            border-radius: 4px;
            height: 36px;
            width: 96px;
        }
        .modalTitle{
            width: 140px;
            height: 32px;
            border-left: 4px solid #237ae4;
            color: #666;
            padding-left: 12px;
            line-height: 32px;
            font-size: 16px;
        }
    }
    .dragUpload{
        margin-top: 32px;
    }
}
.dialogForm{
    margin-top: 20px;
    margin-left: 0px;
    :global{
        .ant-form-item{
            margin-bottom: 12px;
        }
        .ant-btn{
            border-radius: 4px;
            height: 36px;
            width: 96px;
        }
    }
}

.deleteModal{
    :global{
        .ant-modal-content{
            width: 448px;
        }
    }
}

.deleteTitle{
    width: 140px;
    height: 32px;
    border-left: 4px solid #f33;
    color: #666;
    padding-left: 12px;
    line-height: 32px;
    font-size: 16px;
}
.deleteContent{
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #666;
    .deleteImg{
        width: 53px;
        height: 48px;
        margin-right: 16px;
    }
}
.deleteFooter{
    padding-top: 32px;
    display: flex;
    justify-content: flex-end;
    :global{
        .ant-btn{
            border-radius: 4px;
            height: 36px;
            width: 96px;
        }
    }
}