.divBtn{
    width:96px;
    height: 32px;
    background: #237ae4;
    color: #fff;
    text-align: center;
    line-height: 32px;
    cursor:pointer;
    border-radius: 2px; 
}
.divBtn:hover{
    opacity: .7;
   
}
.treeclass{
    :global(.ant-tree-treenode){
        width: 710px !important;
        :global(.ant-tree-node-content-wrapper){
            width: 100%;
        }
    }
}

.numcss{
    width: 48px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color:#237ae433;
    border:1px solid #b3d8ff;
    color:#237ae4;
    margin-right:18px;
    &:hover{
        border-color: #237ae4;
    }
}
.DelModal{
    
    :global(.ant-btn:hover){
        border-color: #d9d9d9 !important;
       
    }
    :global( .ant-modal-footer .ant-btn-primary){
        background-color: #ff4d4f;
        border-color: #ff4d4f;
        &:hover{border-color:#ff4d4f !important;}
    }
}
.btnhover:hover{
    background: #409bff !important; 
}
.bghover:hover{
    background: #1864be !important; 
}
.closehover:hover{
    background: #acbbcb !important; 
}
.searchinp{
    display: flex;
    align-items: center;
    :global(.ant-input){
        border-top-left-radius: 16px !important;
        border-bottom-left-radius: 16px !important;
    }
    :global(.ant-btn){
        width: 64px ;
        border-top-right-radius: 16px !important;
        border-bottom-right-radius: 16px !important;
        background-color: #f2f2f2;
    }
}
.DelModal{
    :global(.ant-btn:hover){
          border-color: #d9d9d9 !important;
      }
      :global(.ant-modal-footer .ant-btn-primary) {
          background-color: #ff4d4f;
          border-color: #ff4d4f;
          &:hover{border-color:#ff4d4f !important;}
      }
   }





