.selectForm{
    background-color: #fff;
    padding: 6px 16px;
    min-width: 1049px;
    height: 52px;
    .btnStyle{
        margin-right: 0 !important;
        margin-left:auto;
        display: flex;
        justify-content: flex-end;
    }
}
