.header{
   // width: 1680px;
    height: 64px;
    padding: 16px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    .flex{
        // width: 100%;
        border-left: 4px solid #237ae4;
        height: 32px;
        padding-left: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .headerTitle{
        font-size: 14px;
        color: rgba(0, 0, 0, 0.847058823529412);
    }
}
.addModal{
    :global{
        .ant-modal-footer{
            border: none;
            padding-right: 32px;
            padding-bottom: 32px;
        }
        .ant-modal-body{
            padding: 32px;
        }
        .ant-btn{
            width: 96px;
            margin-left: 32px;
        }
    }
   
    .addBody{
        margin-top: 16px;
        // margin-left: 32px;
    }
}
.mainContent{
  //  width: 1680px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    margin-top: 16px;
    padding: 16px;
    position: relative;
}
.card{
    // width: 1100px;
    display: flex;
    align-items: center;
    .cardItem{
        margin-left: 16px;
        display: flex;
        width: 365px;
        // border-right: 1px dashed #d7d7d7;
        height: 33px;
        align-items: center;
        .title{
            margin-right: 16px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.847058823529412);
        }
    }
    .middleItem{
        display: flex;
        // width: 365px;
        border-left: 1px dashed #d7d7d7;
        border-right: 1px dashed #d7d7d7;
        height: 33px;
        align-items: center;
        margin-left: 16px;
        padding-left: 16px;
        padding-right: 32px;
        .title{
            margin-right: 16px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.847058823529412);
        }
    }
}