 

.pcsContent{
    
    display: flex;
    flex: 1;
    column-gap: 16px;
    padding-bottom: 16px;
    .left{
        flex: 1;
        width: 544px;
        border-radius: 4px;
      //  background-color: rgb(0, 0, 51);
        padding: 16px;
        .title{
            padding-left: 16px;
            height: 32px;
            border-left: 4px solid var(--ant-primary-color);
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            font-size: 14px;
            .pcsName{
                display: inline-block;
                // width: 96px;
                padding: 0 8px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                font-size: 12px;
                background-color: var(--ant-primary-color);
            }
        }
        .firstValue{
            margin-top: 24px;
            margin-bottom: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            .stateList{
                margin-right: 16px;
                .stateItem{
                    display: flex;
                    align-items: center;
                    
                    margin-bottom: 6px;
                    .circle{
                        width: 12px;
                        height: 12px;
                        margin-right: 12px;
                    }
                }
            }
            .pcsStatus{
                margin-left: 16px;
                padding-left: 12px;
                line-height: 14px;
                border-left: 2px solid #0f0;
                height: 47px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: #0f0;;
            }
        }
        .pcsImgs{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .imgTitle{
                display: inline-block;
                width: 122px;
                height: 25px;
                text-align: center;
                line-height: 25px;
                font-size: 16px;
                background-color: var(--ant-primary-color);
                color: #fff;
                border-radius: 4px;
            }
            .pcsImg{
                width: 148px;
                height: 148px;
            }
        }
        .dataCard{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .card{
                width: 160px;
                height: 80px;
                background-color: rgb(0, 51, 102);
                border-radius: 2px 2px 0 0;
                .cardtitle{
                    margin-top: 5px;
                    text-align: center;
                    font-size: 14px;
                    color: #fff;
                    height: 20px;
                }
                .unit{
                    text-align: center;
                    font-size: 12px;
                    color: #fff;
                    height: 16px;
                }
                .values{
                    text-align: center;
                    font-size: 26px;
                    color: #0f0;
                }
            }
        }
        .line{
            width: 100%;
            height: 0;
            border-top: 1px dashed #d7d7d7;
            opacity: 0.5;
            margin: 16px 0;
        }
        .status{
            width: 100%;
            height: 210px;
            border: 1px solid rgba(215,215,215, 0.5);
            margin-top: 16px;
            display: flex;
            flex-wrap: wrap;
            .stateItem{
                width: 127px;
                height: 69px;
                border-right: 1px dashed rgba(215,215,215, 0.4);
                border-bottom: 1px dashed rgba(215,215,215, 0.4);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: #f2f2f2;
                font-size: 14px;
                line-height: 20px;
                .stateImg{
                    width: 20px;
                    height: 20px;
                    margin-top: 8px;
                }
            }
        }
    }
    .right{
        .chartCard{
            margin-bottom: 16px;
            width: 1120px;
            height: 320px;
            padding: 16px;
            background-color: #fff;
            border: 1px solid #d7d7d7;
            .chartTitle{
                padding-left: 16px;
                border-left: 4px solid var(--ant-primary-color);
                height: 32px;
                line-height: 32px;
                font-size: 14px;
                color: #333;
            }
        }
         
    }
}