.header{
    width: 100%;
    min-width: 1900px;
    height: 64px;
    background-color: #036;
    display: flex;
    align-items: center;
    .logo{
        width: 112px;
        height: 64px;
    }
    .mainTitle{
        margin-left: 48px;
        font-size: 24px;
        color: #fff;
    }
    .subTitle{
        font-size: 20px;
        color: #fff;
        opacity: 0.6;
        margin-left: auto;
        margin-right: 24px;
    }
}
.content{
    width: 100%;
    min-width: 1900px;
    background-color: #135ABD;
    padding: 24px;
    .itemTitle{
        margin: 12px;
        height: 32px;
        border-left: 4px solid #237ae4;
        display: flex;
        align-items: center;
        padding-left: 12px;
        font-size: 14px;
        color: #515151;
        font-weight: 700;
    }
    .contentTop{
        display: flex;
        .topLeft{
            width: 456px;
            .leftItem{
                width: 456px;
                height: 200px;
                margin-bottom: 12px;
                border-radius: 4px;
                background-color: #fff;
                overflow: hidden;
                .itemData{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 18px 24px;
                    font-size: 14px;
                    color: #666;
                }
                .state{
                    display: inline-block;
                    margin-left: auto;
                    margin-right: 12px;
                    width: 96px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    font-size: 14px;
                    color: #390;
                    margin-left: auto;
                    margin-right: 12px;
                    font-weight: 400;
                    background: url('./images/energyState.png');
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                }
                .dataList{
                    display: flex;
                    flex-direction: column;
                    .energyData{
                        font-size: 18px;
                        margin: 12px 0;
                        color: #515151;
                    }
                }
            }
        }
        .topRight{
            width: 1400px;
            height: 416px;
            margin-left: 16px;
            border-radius: 4px;
            background-color: #fff;
            :global{
                .ant-radio-button-wrapper{
                    width: 64px;
                    font-weight: 400;
                    font-size: 12px;
                    text-align: center;
                    &:nth-child(1){
                        border-bottom-left-radius: 24px;
                        border-top-left-radius: 24px;
                    }
                    &:nth-child(3){
                        border-bottom-right-radius: 24px;
                        border-top-right-radius: 24px;
                    }
                }
            }
        }
    }
    .contentBottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .chartTab{
            width: 456px;
            height: 416px;
            background-color: #fff;
            border-radius: 4px;
        }
    }
}