@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html, body {
    height: initial !important;
    overflow: initial !important;  
    -webkit-print-color-adjust: exact;
    font-size: 24px;
    .zl {
      font-style: italic;
      font-size: 36px;
    }
    
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
  @page {
    size:"auto";
    margin: 1cm;
  }
  .printt {
    font-size: 14px;
  }
}

 .print {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 764px;
  padding: 10px;
  border: 1px solid #ff7316;
  height: max-content;

 }
 