.zl{
    color:rgba(255,0,0,0.2);
    
        .ant-table-container table > thead > tr:first-child th:first-child {
            color: alpha(rgba(255,0,0,0.2),0.5);
        }
    
}
.img {
    clip-path: circle(46px);
}