.box {
  display: flex;
  .boxLeft {
    width: 384px;
    height: 840px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 4px;
    .contentLeft {
      padding: 32px;
      .parkSelect {
      }
      .title {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        border-left: 4px solid #237ae4;
        padding-left: 12px;
      }
      .radioLine {
        margin: 32px 0px;
        width: 321px;
        height: 2px;
      }
      .reportType {
        margin: 32px 0px;
        .moonReport {
          width: 159px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border-radius: 2px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
        .yearReport {
          width: 159px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border-radius: 2px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }
      .datePicker {
        width: 320px;
        margin-bottom: 30px;
        .datePickerMonth {
          width: 100%;
        }
        .datePickerYear {
          width: 100%;
        }
      }
      .btnGroup {
        width: 200px;
        margin: auto;
        .btn {
          width: 100%;
          margin-top: 15px;
          height: 36px;
        }
      }
    }
  }
  .boxRight {
    background-color: rgba(242, 242, 242, 1);
    width: 680px;
    height: 840px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 0px;
    margin-left: 32px;
    overflow-y: scroll;
    .contentRight {
      margin: 24px 60px 24px 48px;
      .showInfo {
        height: 770px;
        background-color: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(204, 204, 204, 1);
        .chintLogo {
          width: 77px;
          height: 58px;
          margin-left: 15px;
          margin-top: 15px;
          border-radius: 0px;
        }
        .chinName {
          font-size: 20px;
          color: #666666;
          margin-right: 250px;
          margin-top: 28px;
          display: block;
          float: right;
        }
        .info {
          margin-top: 140px;
          .title {
            text-align: center;
            color: #515151;
            font-family: "微软雅黑";
            font-weight: bold;
            font-style: normal;
            font-size: 32px;
          }
          .content {
            width: 431px;
            padding: 10px 0px 10px 20px;
            background-color: rgba(242, 242, 242, 1);
            box-sizing: border-box;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(204, 204, 204, 1);
            margin: 20px auto 0px;
            p {
              font-family: "微软雅黑";
              font-weight: 400;
              font-style: normal;
              font-size: 18px;
              margin: 10px 0px;
            }
            .name {
            }
            .address {
            }
            .date {
            }
          }
        }
        .background {
          height: 244px;
          background: url("./images/wave_background.png") no-repeat;
          background-size: auto;
          background-position: 100% 100%;
          margin-top: 80px;
        }
      }
      .hideInfo {
        margin-top: 24px;
        .hideInfoOne {
          height: 770px;
          background-color: rgba(255, 255, 255, 1);
          box-sizing: border-box;
          border-width: 1px;
          border-style: solid;
          border-color: rgba(204, 204, 204, 1);
          .headInfo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 10px;
            height: 37px;
            background-color: rgba(35, 122, 228, 1);
            font-size: 14px;
            color: #ffffff;
          }
          .general {
            margin: 32px 24px 24px 24px;
            .title {
              font-size: 20px;
              font-family: "微软雅黑";
              font-weight: 400;
            }
            .tableInfo {
              width: 510px;
              margin-top: 15px;
              table-layout: fixed;
              border-collapse: collapse;
              .tbody {
                tr,
                td {
                  box-sizing: border-box;
                  border-width: 1px;
                  border-style: solid;
                  border-color: rgba(204, 204, 204, 1);
                  height: 32px;
                }
                td:first-child {
                  width: 120px;
                  text-align: center;
                }
                td:last-child {
                  padding-left: 10px;
                }
              }
            }
          }
          .analyse {
            margin: 32px 24px 24px 24px;
            .title {
              font-size: 20px;
              font-family: "微软雅黑";
              font-weight: 400;
            }
            .smallTitle {
              font-size: 16px;
              text-align: left;
              text-indent: 30px; //在p标签段落前面空两格
            }
            .lineChart {
              width: 520px;
              height: 350px;
            }
          }
        }
      }
    }
  }
  .boxRight::-webkit-scrollbar {
    width: 12px;
    height: 8px;
    background-color: #f5f5f5;
  }
}
